
.title {
  width: 80px;
}

.bold{
  font-weight: 800;
}

.nav-link-box {
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1); /* 투명 배경 */
}

nav .nav-link {
  color: white; /* 네브바의 글씨 색상을 하얀색으로 설정 */
}

.nav-border {
  border-bottom: 1px solid white; /* 네브 바의 하단에 흰색 선 추가 */
  width: 100%;
  position: relative;
}

.none-underline a{
  color: black;
  text-decoration: none;
}